
<!-- .section -->
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">

        <article class="media notification is-warning animation">
          <div>
            <img src="{{articles.image}}" alt="image">
          </div>
          <div class="h3">
            <h3>{{articles.title}}</h3>
            <p> {{ stripTags articles.content}} </p>

          </div>
        </article>

      </div>
    </div>
  </div>
</section>
<!-- /.section -->

