
<!-- .section -->
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
      
        <article class="media notification is-warning animation">
          <div>
            <div>
              <img  for="image" src="{{articles.image}}">
            </div>
            <input type="file" name="image">
          </div>
          <div class="h3">
            <input type="text" name="title" value={{articles.title}}>
          </div>
          <h3></h3>
          <div>
            <input type="text" name="content" value={{articles.content}}>
          </div>
        </article>
 
      </div>
    </div>
  </div>
</section>
<!-- /.section -->


